.post-1{
  display: flex;
  justify-content: left;
}
.post-3{
  display: flex;
  justify-content: center;
}
.post-4{
  display: flex;
  justify-content: center;
}
.post-5{
  display: flex;
  justify-content: center;
}
.container{
  display: flex;
  justify-content: center;
}
.container{
  display: flex;
  justify-content: left;
}
.imagen-2{
  justify-content: left;

}
.imagen-3{
  justify-content: right;
}
.imagen-4{
  justify-content: center;
}
